### Java template
# Compiled class file
*.class
target/
out/

HELP.md
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

# InteliJ
.idea/
*.iml
*.iws
*.ipr

# NetBeans
build/
dist/
nbproject/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache